.containerform,
.containerlogin {
    padding: 20px;
    position: relative;
    /* width: 40%;
    left: 55%; */
    background: #ffffff;
    border: 1px solid rgba(108, 151, 190, 0.56);
    box-shadow: 0px 4px 30px 22px rgba(112, 182, 247, 0.48);
    border-radius: 60px;
    text-align: center;
    height: 68%;
}


/* .frontpage {
    flex-direction: row;
    display: flex;
    align-items: center;
} */

.login-main {
    /* margin-bottom: 20%; */
    margin-top: 6%;
}

.logo-main {
    width: 22%;
    margin-left: 18%;
}

.iconlinks {
    padding-top: 12%;
    padding-left: 10%;
}

.frontpageimg {
    width: 70%;
    margin-left: 2%;
    margin-top: 10%;
}