.color-nav {
    background-color: rgb(20, 197, 241);
    justify-content: space-around;
}

.nav-links {
    color: black;
    text-decoration: none;
    margin-inline: 60px;
    font-size: large;
    font-weight: 700;
}

.user-name {
    color: black;
    margin-inline: 50px;
    font-size: large;
    font-weight: 700;
    margin-left: 30%;
}