.calender-box {
    position: absolute;
    height: 300px;
    width: 45%;
    left: 23%;
    top: 29%;
    background: #ffffff;
    border: 1px solid rgba(108, 151, 190, 0.56);
    line-height: normal;
}